<div class="secret-admin-container">
    <mat-card>
      <mat-card-header>
          <mat-card-title>Karma</mat-card-title>
      </mat-card-header>
      <mat-card-content class="verticalContainer">

        <mat-form-field>
          <input max="1000" min="0"step="1" matInput type="number" placeholder="Karma"
            [(ngModel)]="karma">
        </mat-form-field>

          <mat-card-actions align="end">
            <button color="primary" (click)="saveCarma()" mat-button>Save Karma</button>
          </mat-card-actions>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Options</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="verticalContainer">
                <mat-slide-toggle
                  [checked]="displayOptions.wallet"
                  (change)="displayOptions.wallet = $event.source.checked">
                  wallet
                </mat-slide-toggle>

                <mat-slide-toggle
                  [checked]="displayOptions.rewards"
                  (change)="displayOptions.rewards = $event.source.checked">
                  rewards
                </mat-slide-toggle>
                <mat-slide-toggle
                  [checked]="displayOptions.kyc"
                  (change)="displayOptions.kyc = $event.source.checked">
                  kyc
                </mat-slide-toggle>

            </div>
        </mat-card-content>
		
        <mat-card-header>
            <mat-card-title>News Categories</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="verticalContainer">
                <mat-slide-toggle [checked]="displayOptions.general"
                                    (change)="displayOptions.general = $event.source.checked">
                    general
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="displayOptions.mining"
                                  (change)="displayOptions.mining = $event.source.checked">
                    mining
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="displayOptions.ICO"
                                  (change)="displayOptions.ICO = $event.source.checked">
                    ICO
                </mat-slide-toggle>
            </div>
        </mat-card-content>

        <mat-card-header>
            <mat-card-title>News Coins</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="verticalContainer">
                <mat-slide-toggle [checked]="displayOptions.bitcoin"
                                  (change)="displayOptions.bitcoin = $event.source.checked">
                    bitcoin
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="displayOptions.ethereum"
                                  (change)="displayOptions.ethereum = $event.source.checked">
                    ethereum
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="displayOptions.bitclave"
                                  (change)="displayOptions.bitclave = $event.source.checked">
                    bitclave
                </mat-slide-toggle>
            </div>
            <mat-card-actions align="end">
                <button color="primary" (click)="saveDisplayOptions()" mat-button>Save Options</button>
            </mat-card-actions>
        </mat-card-content>
		
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Key Value Data</mat-card-title>
        </mat-card-header>
        <mat-card-content class="verticalContainer">
            <pre>{{displayOptions | json}}</pre>
        </mat-card-content>
    </mat-card>



</div>



